@import url('/public/Oxygen-Regular.ttf');

:root {
  --primary: rgb(33, 242, 103);
  --secondary: #18A0FB;

  --success: #22F268;
  --danger: #F5372C;
  --attention: #E6DD20;
  --info: #18A0FB;

  --neutral-text: rgb(123, 134, 138);
  --white-text: #FFFFFF;

  --box-fill: #161616;
  --phone-fill: #0F0F0F;
  --appicon-fill: #082438;

  --background: #000000;
}

* {
  color: var(--white-text);
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Oxygen Regular', sans-serif;
  letter-spacing: 0.5px;
  
  background-color: var(--background);
}


h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  color: var(--white-text);
  margin-top: 30px;
}

h3 {
  font-size: 24px;
  color: var(--white-text);
  margin-top: 10px;
  font-weight: 400;
}